{% extends 'authenticate/base.html' %}

{% block content %}
<br>
<div style="padding: 10%;"><h1> Welcome to your<br> selling account</h1></div>


{% if user.is_authenticated %}
<!-- {& csrf_token %} -->
<H3>
	<p>Name: {{user.first_name}} {{ user.last_name}}</p>
	<p>Username: {{user.username}}</p>
	<p>Email: {{user.email}}</p>
	<!-- <p>Email: {{user.email}}</p> -->
</h3>

<h1>YOUR ORDERS</h1>

	{% for i in products %}
	<div 
	class="col-md-2"
	style="width: 150px;
	border-radius: 4%;
	margin: 30px 5px 30px 5 px;">
		<img width: 20; src='../../../media/{{i.image}}' alt="feran">
	<br>
	<p><h4>{{i.pname}}</h4></p>
	<p><h3>Rs. {{i.price}}</h3></p>
	<br>
    </div>
	<br>
	<hr>
	<hr>
	<br>
	{% endfor %}

{% endif %}

{% endblock %}
