body {
  font-family: "Montserrat";
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5rem;
}

.container-fluid {
  padding: 7% 12%;
}

  /* sections */
.colored-section{
  background-color: #ae5360;
  color:#fff;
}

.top{
  background-image: url(".././images/kashmiri-girl.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.white-section{
background-color: #fff;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: "bold";
}

.navbar-item {
  padding: 0 18px;
  font-family: "Montserrat-light";
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title section */
#title {
  color: white;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 12% 7%;
}

.title-img {
  width: 60%;
  position: absolute;
  right: 30%;
  border-radius: 3%;
}

/* features section  */
#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  margin-bottom: 1rem;
}

.icon:hover {
  color: #a44a57;
}

/* testimonial section  */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.feran-image{
  width: 210px;
  border-radius: 4%;
  margin: 30px;
}

.feran-image:hover{
opacity: 0.6;
transform: scale(0.8);
}

.artwork{
  width: 350px;
  margin: 25px;
}

.artwork-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card:hover{
  transform: scale(0.9);
  opacity: 0.6;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 200px;
  height: 230px;
  margin: 20px 20px 30px;
  border-radius: 20%;
}
.press-logo:hover {
  opacity: 0.5;
  transform: scale(1.1);
}


/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta section */
#cta {
  color: #fff;
}

/* Footer Section */
.social-icon {
  margin: 20px 20px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
