<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaPAN-Blog</title>
    <link rel="stylesheet" href="../static/css/bstyle.css">
</head>
<body>    
    
    <header class="hero">
      <div class="hero-text">
        <h1>ApnaPAN-Blog</h1>
      </div>
      <a href="#blogPost-header" class="hero-arrow">
        <i class="ri-arrow-down-s-line"></i>
      </a>
    </header>
    <section class="blog-posts">
      <div class="card-container">
     
        <article class="card">
          <img src="../static/images/WhatsApp Image 2022-11-06 at 12.07.00 AM.jpeg" alt="Kashmiri Honey" class="card-img" loading="lazy">
          <div class="card-meta">
            <a href="/blogpages/blogpage1.html" class="card-meta-title">Kashmiri Honey</a>

          </div>
        </article>
         
        <article class="card">
           <img src="../static/images/WhatsApp Image 2022-11-06 at 12.10.05 AM.jpeg" alt="Skincare secrets from the nature" class="card-img" loading="lazy">
          <div class="card-meta">
            <a href="/blogpages/blogpage2.html" class="card-meta-title">Skincare secrets from the nature</a>

          </div>
        </article>
        
        <article class="card">
          <img src="../static/images/WhatsApp Image 2022-11-06 at 12.10.13 AM.jpeg" alt="A tale of diligence" class="card-img" loading="lazy">
          <div class="card-meta">
            <a href="/blogpages/blogpage3.html" class="card-meta-title">A tale of diligence</a>

          </div>
        </article>
        
        <article class="card">
          <img src="../static/images/WhatsApp Image 2022-11-06 at 12.10.25 AM.jpeg" alt="A dream to weave" class="card-img" loading="lazy">
          <div class="card-meta">
            <a href="/blogpages/blogpage4.html" class="card-meta-title">A dream to weave</a>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
