<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blogpage1.css">
</head>
<body>
    <header>
    <h1>Skincare secrets from the nature</h1>
</header>

<main role="main">
    <article>
        <section class="introduction">
            <p>As well-known as Kashmir's stunning natural surroundings are its beautiful inhabitants. Although the environment in Kashmir plays a major role in how people live and what they eat, they also adopt a number of traditional rituals to keep their skin glowing. Try these Kashmiri beauty tips if you wish to shine as well. These methods are highly beneficial for the skin and do not use any chemicals. Saffron makes the skin sparkle. Kashmiris frequently utilise saffron. In addition to giving the skin a subtle pink tint, it also works to shield it from free radical damage. Antioxidant-rich saffron contributes to skin's ability to look young for an extended period of time</p>
        <br>

            <p>Your face will glow in a few days if you mix it with milk and apply it using cotton. You might achieve flawless skin almonds. Because vitamin E is present, imperfections can be made lighter. Kashmiri garlic can be used to get rid of acne. Copper, vitamins B1, B6, C, and the other nutrients found in Kashmiri garlic all help to heal acne breakouts. Kahwa is fantastic for boosting immunity and enhancing the pink glow of the skin. Your skin looks young and remains that way for a very long period. Walnuts for the removal of dead skin. Walnuts are rich in fibre, vitamins, minerals, and healthy fats, all of which are good for the skin.</p>
        </section>
</main>
</body>
